Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

python-check-syntax:
  name: python syntax check
  description: Check Python syntax
  entry: python
  args:
  - -m
  - py_compile
  language: python
  require_serial: false

uv-export-src:
  name: uv export src requirements
  description: Export src/requirements.txt from pyproject.toml
  entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

uv-export-layer:
  name: uv export layer requirements
  description: Export layer/requirements.txt from pyproject.toml
  entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

[feature] add Teams notifications to attribute-syncer
  src/attribute_syncer.py
  src/sync_notifications.py
  src/tests/test_sync_notifications.py
Due: python-check-syntax

[feature] add Teams notifications for check_on_inconsistency
  src/revoker.py
Due: python-check-syntax

[fix] pass elevator_request_id to AuditEntry on scheduled revocation
  src/revoker.py
Due: python-check-syntax

[feature] Add Microsoft Teams app creation section to README
  README.md
Due: none

[update] Expand README with additional Microsoft Teams configuration details
  README.md
Due: none

[update] Simplify README description for AWS IAM Identity Center elevated access
  README.md
Due: none

[feature] Add Microsoft Teams support and enhance README documentation
  README.md
  examples/complete/README.md
  examples/complete/main.tf
  examples/teams/README.md
  examples/teams/main.tf
  examples/teams/variables.tf
  examples/teams/versions.tf
Due: none

[refactor] Replace null_resource with check for attribute sync and chat platform validation
  attribute_syncer_lambda.tf
  chat_platform.tf
  locals.tf
  versions.tf
Due: none

[feature] Enable point-in-time recovery for DynamoDB table
  dynamodb.tf
Due: none

[update] Update README for Terraform and API endpoint details
  README.md
  examples/complete/README.md
Due: none

[update] Modify pre-commit configuration to exclude additional directories
  .pre-commit-config.yaml
Due: none

[update] Adjust pre-commit configuration for trivy parallelism
  .pre-commit-config.yaml
Due: none

[refactor] Improve auto-grant handling in group access requests
  src/group.py
  src/requester/slack/slack_app.py
Due: python-check-syntax

[feature] Implement group approval handling in Teams
  src/group.py
  src/main.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_handlers.py
Due: python-check-syntax

[update] Remove deprecated outputs and update README for breaking changes
  README.md
  examples/complete/README.md
  examples/complete/main.tf
  examples/teams/main.tf
  outputs.tf
Due: none

build(deps): update urllib3 to version 2.6.3
  src/uv.lock
Due: uv-export-src

build(deps): update python-dotenv to version 1.2.2
  src/uv.lock
Due: uv-export-src

chore: update aws_sso_elevator module version to 5.0.0
  README.md
  vars.tf
Due: none

feat: enhance AWS organization management functionality
  .kiro/specs/management-account-access-warning/.config.kiro
  .kiro/specs/management-account-access-warning/design.md
  .kiro/specs/management-account-access-warning/requirements.md
  .kiro/specs/management-account-access-warning/tasks.md
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/organizations.py
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/revoker.py
  src/tests/test_organizations_management_account.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

feat: add account warning messages for AWS access requests
  .kiro/specs/management-account-access-warning/.config.kiro
  .kiro/specs/management-account-access-warning/design.md
  .kiro/specs/management-account-access-warning/requirements.md
  .kiro/specs/management-account-access-warning/tasks.md
  README.md
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/config.py
  src/organizations.py
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/revoker.py
  src/tests/test_account_warning_messages.py
  src/tests/test_organizations_management_account.py
  src/tests/test_teams_messaging.py
  vars.tf
Due: python-check-syntax

refactor: improve error logging and code clarity
  src/config.py
  src/requester/slack/slack_helpers.py
  src/requester/teams/teams_cards.py
Due: python-check-syntax

feat: enhance account warning messages functionality
  README.md
  examples/complete/main.tf
  examples/teams/main.tf
  src/config.py
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
  src/tests/test_account_warning_messages.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

add warn_on_secondary_domain_fallback toggle to suppress fallback warning
  slack_handler_lambda.tf
  src/config.py
  src/requester/slack/slack_helpers.py
  vars.tf
Due: python-check-syntax

make event logging configurable (log_event); stop logging full SSO user object
  attribute_syncer_lambda.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/sso.py
  vars.tf
Due: python-check-syntax

scope iam:PassRole to scheduler role with PassedToService condition
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
Due: none

remove unused iam role-provisioning perms (SSO provisions AWSReservedSSO roles via its service-linked role)
  slack_handler_lambda.tf
Due: none

remove unused iam:GetSAMLProvider/UpdateSAMLProvider from requester role
  slack_handler_lambda.tf
Due: none

add optional AllowedGroups requester restriction to statements
  README.md
  slack_handler_lambda.tf
  src/access_control.py
  src/config.py
  src/group.py
  src/requester/slack/slack_app.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_handlers.py
  src/sso.py
  src/statement.py
  src/tests/test_access_control.py
Due: python-check-syntax

enforce AllowedGroups at approval time, not just request time
  src/group.py
  src/requester/slack/slack_app.py
  src/requester/teams/teams_handlers.py
  src/tests/test_access_control.py
Due: python-check-syntax

feat: optional mutual TLS on the API Gateway with client-cert SAN verification
  outputs.tf
  slack_handler_lambda.tf
  src/config.py
  src/main.py
  src/requester/common/api_gateway.py
  src/tests/test_mtls_client_cert.py
  vars.tf
Due: python-check-syntax

fix: pass empty string (not null) for api gateway domain_name when unset
  slack_handler_lambda.tf
Due: none

filter the request modal accounts/permission sets by requester's allowed_groups
  src/access_control.py
  src/requester/slack/slack_app.py
  src/tests/test_access_control.py
Due: python-check-syntax

extract filter_options_for_requester and add handler-level test
  src/access_control.py
  src/requester/slack/slack_app.py
  src/tests/test_access_control.py
Due: python-check-syntax

build(deps): bump urllib3 to 2.7.0 in src and layer
  layer/requirements.txt
  layer/uv.lock
  src/uv.lock
Due: uv-export-src, uv-export-layer

[fix] make ruff happy in group access handler
  src/group.py
Due: python-check-syntax

[fix] pin Trivy v0.71.0 and bump GitHub Actions versions
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/review.yml
Due: none

build(deps): bump urllib3 to 2.7.0 in src and layer (#166)
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/review.yml
  layer/requirements.txt
  layer/uv.lock
  src/group.py
  src/uv.lock
Due: python-check-syntax, uv-export-src, uv-export-layer

[fix] bump version to 4.2.2 and align defaults
  README.md
  src/pyproject.toml
  vars.tf
Due: uv-export-src

[fix] bump version to 4.2.2 and align defaults (#168)
  README.md
  src/pyproject.toml
  vars.tf
Due: uv-export-src

Path conditions:
  python-check-syntax: any of: \.py$
  uv-export-src: any of: ^src/(pyproject\.toml|uv\.lock)$
  uv-export-layer: any of: ^layer/(pyproject\.toml|uv\.lock)$
