Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [-C, "3"]
        types_or: [python, rst, markdown, cython, c, terraform]
        additional_dependencies: [tomli]
# Python
-   repo: local
    hooks:
    # Python syntax check - catches syntax errors early
    -   id: python-check-syntax
        name: python syntax check
        description: "Check Python syntax"
        entry: python
        args: [-m, py_compile]
        language: python
        types: [python]
        require_serial: false
    -   id: uv-export-src
        name: uv export src requirements
        description: "Export src/requirements.txt from pyproject.toml"
        entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^src/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
    -   id: uv-export-layer
        name: uv export layer requirements
        description: "Export layer/requirements.txt from pyproject.toml"
        entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^layer/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
# Terraform
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
    - id: terraform_fmt
      exclude: ^(tests|src/tests)/
    - id: terraform_tflint
      exclude: ^(tests|src/tests)/
    - id: terraform_validate
      exclude: ^(tests|src/tests)/
    - id: terraform_docs
      exclude: ^(tests|src/tests)/
      args:
        - --args=--lockfile=false
    - id: terraform_trivy
      exclude: ^(tests|src/tests)/
      args:
        # Dockerfile.layer uses FROM scratch for asset extraction only, not a runnable container
        - --args=--severity HIGH,CRITICAL --skip-dirs .terraform,examples/complete/.terraform,tests --skip-files src/docker/Dockerfile.layer

[feature] Redesign Slack access-request messages
  README.md
  cmd/elevator/README.md
  cmd/elevator/main.go
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  src/access_control.py
  src/config.py
  src/errors.py
  src/events.py
  src/group.py
  src/main.py
  src/revoker.py
  src/schedule.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_errors.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_slack_helpers.py
  vars.tf
Due: python-check-syntax

[feature] Redesign Slack access-request messages (#240)
  README.md
  cmd/elevator/README.md
  cmd/elevator/main.go
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  src/access_control.py
  src/config.py
  src/errors.py
  src/events.py
  src/group.py
  src/main.py
  src/revoker.py
  src/schedule.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_errors.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_slack_helpers.py
  vars.tf
Due: python-check-syntax

[fix] Cache CLI Identity Store users without datetime fields (#239)
  src/cache.py
  src/sso.py
  src/tests/test_cache.py
  src/tests/test_sso.py
Due: python-check-syntax

Fix #98: log audit entries for declined and incomplete requests
  src/access_control.py
  src/group.py
  src/main.py
  src/s3.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
Due: python-check-syntax

[fix] Address review on audit entries for declined and incomplete requests
  README.md
  athena_query/create_table.md
  src/revoker.py
  src/tests/test_revoker.py
Due: python-check-syntax

[fix] Make declined audit writes best-effort and align incomplete entries
  src/revoker.py
  src/tests/test_revoker.py
Due: python-check-syntax

[fix] Audit unroutable requests and tidy audit paths after rebase
  src/access_control.py
  src/group.py
  src/main.py
  src/revoker.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
Due: python-check-syntax

Fix #98: log audit entries for declined and incomplete requests (#207)
  README.md
  athena_query/create_table.md
  src/access_control.py
  src/group.py
  src/main.py
  src/revoker.py
  src/s3.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
Due: python-check-syntax

[feature] 5.0.0 Terraform: single REST API, optional WAF, alias, IAM scoping
  README.md
  cli_rest_api.tf
  examples/complete/README.md
  examples/complete/main.tf
  examples/complete/outputs.tf
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  rest_api.tf
  slack_handler_lambda.tf
  vars.tf
  waf.tf
Due: none

[feature] 5.0.0 CLI: STS GetCallerIdentity proof replaces trusted userArn
  cmd/elevator/config.go
  cmd/elevator/config_test.go
  cmd/elevator/main.go
  cmd/elevator/main_test.go
  cmd/elevator/proof.go
  cmd/elevator/proof_test.go
  cmd/elevator/request.go
  src/cli_auth.py
  src/cli_proof.py
  src/config.py
  src/main.py
  src/tests/proof_helpers.py
  src/tests/test_cli_auth.py
  src/tests/test_cli_proof.py
  src/tests/test_main.py
  tests/fixtures/sts_proof/valid_envelope.json
Due: python-check-syntax

[feature] 5.0.0 docs: upgrade notes, accepted risks, release testing
  README.md
  SECURITY.md
  cmd/elevator/README.md
  docs/accepted-risks.md
  docs/release-testing.md
  src/tests/test_main.py
Due: python-check-syntax

[refactoring] 5.0.0 cross-review fixes
  README.md
  cmd/elevator/README.md
  cmd/elevator/config_test.go
  cmd/elevator/proof.go
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  docs/accepted-risks.md
  docs/release-testing.md
  examples/complete/README.md
  examples/complete/main.tf
  examples/complete/outputs.tf
  examples/complete/versions.tf
  src/cli_auth.py
  src/cli_proof.py
  src/main.py
  vars.tf
  versions.tf
Due: python-check-syntax

[feature] 5.0.0 review decisions: WAF rate/sampling, string integration URI, CLI re-sign per retry
  README.md
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  docs/release-testing.md
  locals.tf
  rest_api.tf
  slack_handler_lambda.tf
  vars.tf
  waf.tf
Due: none

[feature] 5.0.0 review decisions: CLI 403 wording, STS 5xx mapping, lazy config load, docs
  README.md
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  docs/accepted-risks.md
  docs/release-testing.md
  src/cli_auth.py
  src/cli_proof.py
  src/tests/test_cli_proof.py
Due: python-check-syntax

[fix] 5.0.0 docs: correct CLI-off and WAF plan-time behavior from live testing
  README.md
  docs/release-testing.md
Due: none

[feature] 5.0.0: one REST API, optional WAF, IAM tightening, CLI STS proof (#241)
  README.md
  SECURITY.md
  cli_rest_api.tf
  cmd/elevator/README.md
  cmd/elevator/config.go
  cmd/elevator/config_test.go
  cmd/elevator/main.go
  cmd/elevator/main_test.go
  cmd/elevator/proof.go
  cmd/elevator/proof_test.go
  cmd/elevator/request.go
  cmd/elevator/request_test.go
  docs/accepted-risks.md
  docs/release-testing.md
  examples/complete/README.md
  examples/complete/main.tf
  examples/complete/outputs.tf
  examples/complete/versions.tf
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  rest_api.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/cli_proof.py
  src/config.py
  src/main.py
  src/tests/proof_helpers.py
  src/tests/test_cli_auth.py
  src/tests/test_cli_proof.py
  src/tests/test_main.py
  tests/fixtures/sts_proof/valid_envelope.json
  vars.tf
  versions.tf
  waf.tf
Due: python-check-syntax

[fix] Treat a racing Approve's ConflictException as an in-flight grant (#212)
  src/group.py
  src/main.py
  src/schedule.py
  src/slack_helpers.py
  src/sso.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_schedule.py
  src/tests/test_sso.py
Due: python-check-syntax

[fix] Assert revoke schedule name shape instead of hand-built length
  src/tests/test_schedule.py
Due: python-check-syntax

[fix] Address review follow-ups for racing Approve clicks (#212)
  src/access_control.py
  src/group.py
  src/main.py
  src/revoker.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

[fix] Racing Approve clicks no longer mark a granted request as failed (#212) (#242)
  src/access_control.py
  src/group.py
  src/main.py
  src/revoker.py
  src/schedule.py
  src/slack_helpers.py
  src/sso.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_schedule.py
  src/tests/test_slack_helpers.py
  src/tests/test_sso.py
Due: python-check-syntax

[feature] SnapStart for the Slack requester to beat Slack's 3 s deadline (#213)
  README.md
  docs/release-testing.md
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/config.py
  src/main.py
  src/pyproject.toml
  src/revoker.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_snap_start.py
  src/uv.lock
  vars.tf
Due: python-check-syntax, uv-export-src

[feature] Address SnapStart review: restore-only timeouts, empty snapshot rules, docs (#213)
  README.md
  src/config.py
  src/main.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_snap_start.py
  vars.tf
Due: python-check-syntax

[feature] SnapStart for the Slack requester to beat Slack's 3 s deadline (#213) (#243)
  README.md
  docs/release-testing.md
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/config.py
  src/main.py
  src/pyproject.toml
  src/revoker.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_snap_start.py
  src/uv.lock
  vars.tf
Due: python-check-syntax, uv-export-src

[fix] Revoker uses its passed identity-store client; S3 audit failures never cost access expiry
  README.md
  athena_query/create_table.md
  docs/accepted-risks.md
  src/access_control.py
  src/errors.py
  src/revoker.py
  src/s3.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

[fix] Revoker uses its passed identity-store client; S3 audit failures never cost access expiry (#245)
  README.md
  athena_query/create_table.md
  docs/accepted-risks.md
  src/access_control.py
  src/errors.py
  src/revoker.py
  src/s3.py
  src/slack_helpers.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

[fix] Reconciliation sweep skips a group membership that is already gone
  src/revoker.py
  src/tests/test_revoker.py
Due: python-check-syntax

[fix] Reconciliation sweep skips a group membership that is already gone (#246)
  src/revoker.py
  src/tests/test_revoker.py
Due: python-check-syntax

[feature] Docs restructure part A: move README sections to docs/ verbatim
  .kiro/steering/design.md
  AGENTS.md
  README.md
  UPGRADE-5.0.md
  athena_query/query.md
  docs/api-gateway.md
  docs/architecture.md
  docs/attribute-sync.md
  docs/audit.md
  docs/cli.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  docs/docs.md
  docs/releasing.md
  docs/slack.md
Due: none

[feature] Docs restructure part B: fact-checked pages, 5.0 upgrade guide, changelog
  .kiro/hooks/export-requirements-txt.kiro.hook
  .kiro/specs/attribute-based-group-sync/design.md
  .kiro/specs/attribute-based-group-sync/requirements.md
  .kiro/specs/attribute-based-group-sync/tasks.md
  .kiro/specs/config-s3-migration/design.md
  .kiro/specs/config-s3-migration/requirements.md
  .kiro/specs/config-s3-migration/tasks.md
  AGENTS.md
  CHANGELOG.md
  README.md
  UPGRADE-4.0.md
  UPGRADE-5.0.md
  athena_query/fix_path.sh
  cmd/elevator/README.md
  docs/accepted-risks.md
  docs/api-gateway.md
  docs/architecture.md
  docs/attribute-sync.md
  docs/audit.md
  docs/cli.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  docs/release-testing.md
  docs/releasing.md
  docs/slack.md
  examples/complete/main.tf
  rest_api.tf
  src/cli_auth.py
  vars.tf
Due: python-check-syntax

[feature] Docs restructure: apply cross-review round 1 (Codex)
  CHANGELOG.md
  UPGRADE-5.0.md
  docs/CACHE_IMPLEMENTATION.md
  docs/architecture.md
  docs/attribute-sync.md
  docs/audit.md
  docs/configuration.md
  docs/docs.md
  docs/release-testing.md
  docs/releasing.md
Due: none

[feature] Docs restructure: apply cross-review round 2 (subagents + Cursor)
  AGENTS.md
  README.md
  UPGRADE-5.0.md
  cmd/elevator/README.md
  docs/architecture.md
  docs/attribute-sync.md
  docs/audit.md
  docs/cli.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  docs/releasing.md
  docs/slack.md
  examples/complete/main.tf
  vars.tf
Due: none

[feature] Docs restructure: corrections from the 5.x live test
  docs/api-gateway.md
  docs/cli.md
  docs/release-testing.md
Due: none

[fix] Docs and changelog for the attribute-sync fixes
  CHANGELOG.md
  docs/attribute-sync.md
  docs/audit.md
Due: none

[fix] Docs and changelog for request_source on audit entries
  CHANGELOG.md
  docs/audit.md
Due: none

[fix] Attribute syncer: cover skipped-user cases in tests, correct comment
  src/sync_state.py
  src/tests/test_attribute_syncer.py
Due: python-check-syntax

[fix] Attribute syncer skips users it cannot read and keeps audit entries while S3 is down
  src/attribute_syncer.py
  src/s3.py
  src/sync_state.py
  src/tests/test_attribute_syncer.py
Due: python-check-syntax

[fix] Attribute syncer skips users it cannot read and keeps audit entries while S3 is down (#255)
  src/attribute_syncer.py
  src/s3.py
  src/sync_state.py
  src/tests/test_attribute_syncer.py
Due: python-check-syntax

[fix] Accept any request_source on scheduled revoke events
  src/events.py
  src/s3.py
  src/tests/test_revoker.py
  src/tests/test_schedule.py
Due: python-check-syntax

[fix] Record request_source on group and revoker audit entries
  src/access_control.py
  src/events.py
  src/group.py
  src/revoker.py
  src/s3.py
  src/schedule.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_revoker.py
  src/tests/test_schedule.py
Due: python-check-syntax

[fix] Record request_source on group and revoker audit entries (#256)
  src/access_control.py
  src/events.py
  src/group.py
  src/revoker.py
  src/s3.py
  src/schedule.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_revoker.py
  src/tests/test_schedule.py
Due: python-check-syntax
