Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

python-check-syntax:
  name: python syntax check
  description: Check Python syntax
  entry: python
  args:
  - -m
  - py_compile
  language: python
  require_serial: false

uv-export-src:
  name: uv export src requirements
  description: Export src/requirements.txt from pyproject.toml
  entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

uv-export-layer:
  name: uv export layer requirements
  description: Export layer/requirements.txt from pyproject.toml
  entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

Fix another pre-commit failure: stale terraform-docs table entry
  README.md
Due: none

Fix #98: log audit entries for declined and incomplete requests
  src/access_control.py
  src/group.py
  src/main.py
  src/s3.py
  src/tests/test_access_control.py
  src/tests/test_group.py
  src/tests/test_main.py
Due: python-check-syntax

Fix #176: read revoker/attribute-syncer Slack bot token from SSM, not Terraform
  README.md
  attribute_syncer_lambda.tf
  attribute_syncer_ssm_parameters.tf
  perm_revoker_lambda.tf
  revoker_ssm_parameters.tf
  src/attribute_syncer.py
  src/config.py
  src/pyproject.toml
  src/requirements.txt
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
  src/uv.lock
  vars.tf
Due: python-check-syntax, uv-export-src

Expand #176 fix to the access-requester Lambda too
  README.md
  requester_ssm_parameters.tf
  slack_handler_lambda.tf
  src/main.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[feature] publish signed elevator binaries
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/cli-ci.yml
  .github/workflows/cli-release.yml
  .kiro/steering/design.md
  README.md
  cmd/elevator/.goreleaser.yaml
  cmd/elevator/README.md
  cmd/elevator/install_test.sh
  install.sh
  vars.tf
Due: none

[feature] publish signed Elevator binaries (#209)
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/cli-ci.yml
  .github/workflows/cli-release.yml
  .kiro/steering/design.md
  README.md
  cmd/elevator/.goreleaser.yaml
  cmd/elevator/README.md
  cmd/elevator/install_test.sh
  install.sh
  vars.tf
Due: none

[fix] grant release CI caller permissions
  .github/workflows/cli-release.yml
Due: none

Address Anton/Codex review of #208: make this genuinely opt-in
  README.md
  attribute_syncer_lambda.tf
  attribute_syncer_ssm_parameters.tf
  perm_revoker_lambda.tf
  requester_ssm_parameters.tf
  revoker_ssm_parameters.tf
  slack_handler_lambda.tf
  slack_ssm_secrets.tf
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

Fix a pre-existing test that never restored os.environ
  src/tests/test_config.py
Due: python-check-syntax

Fix a real bug found by an independent agent-based review pass
  README.md
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
Due: python-check-syntax

Address #208's remaining findings, resolve the placeholder design question
  README.md
  attribute_syncer_lambda.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  slack_ssm_secrets.tf
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/revoker.py
  vars.tf
  versions.tf
Due: python-check-syntax

Switch CLI access-request route from HTTP API to REST API (#214)
  README.md
  cli_rest_api.tf
  cmd/elevator/README.md
  examples/complete/README.md
  examples/complete/outputs.tf
  locals.tf
  outputs.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/schedule.py
  src/sso.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

Fix ruff-format CI failure (line-length reformatting only, no behavior change)
  src/tests/test_cli_auth.py
Due: python-check-syntax

[feature] build Lambda images for pull requests
  .github/workflows/build_docker.yml
  README.md
Due: none

Build Lambda images for pull requests (#219)
  .github/workflows/build_docker.yml
  README.md
Due: none

[feature] publish moving main image tag
  .github/workflows/build_docker.yml
  README.md
Due: none

Publish a moving main image tag (#222)
  .github/workflows/build_docker.yml
  README.md
Due: none

[fix] always read Slack secrets from SSM for v5
  README.md
  attribute_syncer_lambda.tf
  examples/complete/README.md
  examples/complete/main.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  slack_ssm_secrets.tf
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/revoker.py
  src/tests/conftest.py
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
  src/tests/test_main.py
  tests/localstack.tfvars
  vars.tf
  versions.tf
Due: python-check-syntax

[fix] cross-review fixes for always-SSM Slack secrets
  README.md
  attribute_syncer_lambda.tf
  data.tf
  examples/complete/README.md
  examples/complete/versions.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  slack_ssm_secrets.tf
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/revoker.py
  src/tests/conftest.py
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_revoker.py
Due: python-check-syntax

[fix] explain why Slack secrets are set by hand
  README.md
Due: none

[feature] dependency soak policy and release-time update script
  .github/dependabot.yml
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .gitignore
  .kiro/steering/design.md
  .pre-commit-config.yaml
  cmd/elevator/go.mod
  layer/pyproject.toml
  layer/uv.lock
  scripts/deps_ready.py
  src/docker/Dockerfile
  src/docker/Dockerfile.attribute_syncer
  src/docker/Dockerfile.layer
  src/docker/Dockerfile.requester
  src/docker/Dockerfile.revoker
  src/pyproject.toml
  src/tests/test_deps_ready.py
  src/uv.lock
Due: python-check-syntax, uv-export-src, uv-export-layer

[feature] Dependency soak policy and release-time update script (#225)
  .github/dependabot.yml
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .gitignore
  .kiro/steering/design.md
  .pre-commit-config.yaml
  cmd/elevator/go.mod
  layer/pyproject.toml
  layer/uv.lock
  scripts/deps_ready.py
  src/docker/Dockerfile
  src/docker/Dockerfile.attribute_syncer
  src/docker/Dockerfile.layer
  src/docker/Dockerfile.requester
  src/docker/Dockerfile.revoker
  src/pyproject.toml
  src/tests/test_deps_ready.py
  src/uv.lock
Due: python-check-syntax, uv-export-src, uv-export-layer

Read Slack secrets from SSM Parameter Store, never through Terraform (#176) (#208)
  README.md
  attribute_syncer_lambda.tf
  data.tf
  examples/complete/README.md
  examples/complete/main.tf
  examples/complete/versions.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  slack_ssm_secrets.tf
  src/attribute_syncer.py
  src/config.py
  src/main.py
  src/pyproject.toml
  src/requirements.txt
  src/revoker.py
  src/tests/conftest.py
  src/tests/test_attribute_syncer.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_revoker.py
  src/uv.lock
  tests/localstack.tfvars
  vars.tf
  versions.tf
Due: python-check-syntax, uv-export-src

[fix] cross-review fixes for the CLI REST API route
  README.md
  cli_rest_api.tf
  cmd/elevator/README.md
  cmd/elevator/request.go
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[fix] round-two review fixes for CLI REST API
  README.md
  cli_rest_api.tf
  cmd/elevator/README.md
  slack_handler_lambda.tf
  src/cli_auth.py
  src/main.py
  src/sso.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[fix] CLI review decisions: ambiguous user, aws partition, dead base64, plan-time validation
  README.md
  locals.tf
  src/cli_auth.py
  src/main.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[fix] apply maintainer decisions on CLI REST API review
  README.md
  cmd/elevator/README.md
  examples/complete/README.md
  examples/complete/outputs.tf
  locals.tf
  outputs.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/tests/conftest.py
  src/tests/test_cli_auth.py
  src/tests/test_config.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[fix] CLI REST API resource policy no longer drifts; add release testing protocol
  README.md
  cli_rest_api.tf
  docs/release-testing.md
Due: none

Switch CLI access-request route from HTTP API to REST API (#214) (#218)
  README.md
  cli_rest_api.tf
  cmd/elevator/README.md
  cmd/elevator/request.go
  docs/release-testing.md
  examples/complete/README.md
  examples/complete/outputs.tf
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/schedule.py
  src/sso.py
  src/tests/conftest.py
  src/tests/test_cli_auth.py
  src/tests/test_config.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

[feature] catch up Dependabot backlog to soaked versions
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/cli-ci.yml
  .github/workflows/cli-release.yml
  .github/workflows/code-guru.yml
  .github/workflows/review.yml
  README.md
  attribute_syncer_lambda.tf
  cmd/elevator/go.mod
  cmd/elevator/go.sum
  examples/complete/README.md
  examples/complete/versions.tf
  layer/pyproject.toml
  layer/requirements.txt
  layer/uv.lock
  layers.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/pyproject.toml
  src/requirements.txt
  src/uv.lock
  versions.tf
Due: uv-export-src, uv-export-layer

[feature] Catch up Dependabot backlog to soaked versions (#233)
  .github/workflows/base.yml
  .github/workflows/build_docker.yml
  .github/workflows/cli-ci.yml
  .github/workflows/cli-release.yml
  .github/workflows/code-guru.yml
  .github/workflows/review.yml
  README.md
  attribute_syncer_lambda.tf
  cmd/elevator/go.mod
  cmd/elevator/go.sum
  examples/complete/README.md
  examples/complete/versions.tf
  layer/pyproject.toml
  layer/requirements.txt
  layer/uv.lock
  layers.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/pyproject.toml
  src/requirements.txt
  src/uv.lock
  versions.tf
Due: uv-export-src, uv-export-layer

[feature] bump account-baseline 2.1.6 and ruff-pre-commit 0.16.8
  .kiro/specs/attribute-based-group-sync/design.md
  .pre-commit-config.yaml
  README.md
  s3.tf
  scripts/deps_ready.py
  src/pyproject.toml
Due: python-check-syntax, uv-export-src

[feature] Bump account-baseline 2.1.6 and ruff-pre-commit 0.16.8 (#235)
  .kiro/specs/attribute-based-group-sync/design.md
  .pre-commit-config.yaml
  README.md
  s3.tf
  scripts/deps_ready.py
  src/pyproject.toml
Due: python-check-syntax, uv-export-src

[feature] move to Python 3.14
  .github/workflows/base.yml
  .pre-commit-config.yaml
  layer/.python-version
  layer/pyproject.toml
  layer/requirements.txt
  layer/uv.lock
  layers.tf
  locals.tf
  src/.python-version
  src/docker/Dockerfile
  src/docker/Dockerfile.attribute_syncer
  src/docker/Dockerfile.layer
  src/docker/Dockerfile.requester
  src/docker/Dockerfile.revoker
  src/main.py
  src/pyproject.toml
  src/requirements.txt
  src/uv.lock
Due: python-check-syntax, uv-export-src, uv-export-layer

[feature] Move to Python 3.14 (#236)
  .github/workflows/base.yml
  .pre-commit-config.yaml
  layer/.python-version
  layer/pyproject.toml
  layer/requirements.txt
  layer/uv.lock
  layers.tf
  locals.tf
  src/.python-version
  src/docker/Dockerfile
  src/docker/Dockerfile.attribute_syncer
  src/docker/Dockerfile.layer
  src/docker/Dockerfile.requester
  src/docker/Dockerfile.revoker
  src/main.py
  src/pyproject.toml
  src/requirements.txt
  src/uv.lock
Due: python-check-syntax, uv-export-src, uv-export-layer

[fix] Cache CLI Identity Store users without datetime fields
  src/cache.py
  src/sso.py
  src/tests/test_cache.py
  src/tests/test_sso.py
Due: python-check-syntax

[fix] Tighten users-cache docs after review
  src/cache.py
  src/sso.py
  src/tests/test_cache.py
  src/tests/test_sso.py
Due: python-check-syntax

Path conditions:
  python-check-syntax: any of: \.py$
  uv-export-src: any of: ^src/(pyproject\.toml|uv\.lock)$
  uv-export-layer: any of: ^layer/(pyproject\.toml|uv\.lock)$
