Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [-C, "3"]
        types_or: [python, rst, markdown, cython, c, terraform]
        additional_dependencies: [tomli]
# Python
-   repo: local
    hooks:
    # Python syntax check - catches syntax errors early
    -   id: python-check-syntax
        name: python syntax check
        description: "Check Python syntax"
        entry: python
        args: [-m, py_compile]
        language: python
        types: [python]
        require_serial: false
    -   id: uv-export-src
        name: uv export src requirements
        description: "Export src/requirements.txt from pyproject.toml"
        entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^src/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
    -   id: uv-export-layer
        name: uv export layer requirements
        description: "Export layer/requirements.txt from pyproject.toml"
        entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^layer/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
# Terraform
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
    - id: terraform_fmt
      exclude: ^(tests|src/tests)/
    - id: terraform_tflint
      exclude: ^(tests|src/tests)/
    - id: terraform_validate
      exclude: ^(tests|src/tests)/
    - id: terraform_docs
      exclude: ^(tests|src/tests)/
      args:
        - --args=--lockfile=false
    - id: terraform_trivy
      exclude: ^(tests|src/tests)/
      args:
        # Dockerfile.layer uses FROM scratch for asset extraction only, not a runnable container
        - --args=--severity HIGH,CRITICAL --skip-dirs .terraform,examples/complete/.terraform,tests --skip-files src/docker/Dockerfile.layer

Pass identity_store_id through config to avoid API calls
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/access_control.py
  src/config.py
  src/group.py
  src/main.py
  src/revoker.py
  src/slack_helpers.py
  src/sso.py
Due: python-check-syntax

Cache user lookup to avoid redundant API calls
  src/main.py
Due: python-check-syntax

Add PermissionSet ARN support
  src/access_control.py
  src/sso.py
  src/statement.py
Due: python-check-syntax

Fix posthog package in lock file
  src/requirements.txt
Due: none

Add optional name fields to RevokeEvent for caching
  src/events.py
Due: python-check-syntax

Add name parameters to schedule_revoke_event
  src/schedule.py
Due: python-check-syntax

Pass names to scheduler and fix undefined sso_instance.arn
  src/access_control.py
Due: python-check-syntax

Use cached names in scheduled revocation handler
  src/revoker.py
Due: python-check-syntax

Update docs with API efficiency settings
  README.md
  vars.tf
Due: none

Fix permission set arn fetch bug
  src/main.py
  src/sso.py
Due: python-check-syntax

Fix using permission set arn (again)
  src/access_control.py
  src/main.py
  src/revoker.py
  src/slack_helpers.py
  src/sso.py
  src/statement.py
Due: python-check-syntax

Fix analytics error
  src/analytics.py
Due: python-check-syntax

Fix capturing analytics
  src/analytics.py
Due: python-check-syntax

Don't crash when analytics fail
  src/analytics.py
Due: python-check-syntax

Fix formatting and update terraform docs
  README.md
  src/main.py
  src/sso.py
  src/statement.py
Due: python-check-syntax

Add CLAUDE.md
  CLAUDE.md
Due: none

Include duration hours in aws_access_requested event
  src/main.py
Due: python-check-syntax

Restructure docs and explicitly mention this is a fork
  README.md
  docs/CONFIGURATION.md
  docs/DEPLOYMENT.md
  docs/FEATURES.md
  docs/GROUP_ACCESS.md
  docs/docs.md
Due: none

Delete unused actions
  .github/workflows/code-guru.yml
Due: none

Delete .github/workflows/review.yml
  .github/workflows/review.yml
Due: none

Delete .github/workflows/cursor-code-review.yml
  .github/workflows/cursor-code-review.yml
Due: none

Don't treat PostHog public API key as sensitive
  vars.tf
Due: none

Only mention approvers when request has approvers
  src/main.py
Due: python-check-syntax

Fix ruff formatting
  src/main.py
Due: python-check-syntax

Make session complete status clearer
  src/config.py
Due: python-check-syntax

Support reloading config w/o restarting lambda
  src/config.py
  src/main.py
  src/tests/conftest.py
  src/tests/test_config.py
Due: python-check-syntax

Fix running pre-commit when not installed globally
  run-tests.sh
Due: none

Allow specifying groups of approvers
  src/access_control.py
  src/config.py
  src/group.py
  src/main.py
  src/slack_helpers.py
  src/statement.py
Due: python-check-syntax

Fix thrown error when approving request
  src/errors.py
  src/slack_helpers.py
Due: python-check-syntax

Publish Cloudwatch metric when stale grants detected
  README.md
  outputs.tf
  perm_revoker_lambda.tf
  src/revoker.py
Due: python-check-syntax

Fix mismatched field names breaking approvals
  src/slack_helpers.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

Add missing library
  src/pyproject.toml
  src/requirements.txt
  src/uv.lock
Due: uv-export-src

Make wording clearer
  src/group.py
  src/main.py
Due: python-check-syntax

Rename discard to deny
  docs/DEPLOYMENT.md
  docs/FEATURES.md
  src/access_control.py
  src/config.py
  src/entities/slack.py
  src/group.py
  src/main.py
  src/revoker.py
  src/slack_helpers.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

Add tests for group approval
  src/tests/test_access_control.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

Fix request approval
  src/slack_helpers.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

Add ApproverGroups to docs
  docs/CONFIGURATION.md
  docs/GROUP_ACCESS.md
  examples/complete/main.tf
Due: none

More group approver tests
  src/tests/test_main.py
Due: python-check-syntax

Fix formatting
  examples/complete/main.tf
Due: none

Update docs with new slack app permission
  docs/DEPLOYMENT.md
  docs/FEATURES.md
Due: none
