Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [-C, "3"]
        types_or: [python, rst, markdown, cython, c, terraform]
        additional_dependencies: [tomli]
# Python
-   repo: local
    hooks:
    # Python syntax check - catches syntax errors early
    -   id: python-check-syntax
        name: python syntax check
        description: "Check Python syntax"
        entry: python
        args: [-m, py_compile]
        language: python
        types: [python]
        require_serial: false
    -   id: uv-export-src
        name: uv export src requirements
        description: "Export src/requirements.txt from pyproject.toml"
        entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^src/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
    -   id: uv-export-layer
        name: uv export layer requirements
        description: "Export layer/requirements.txt from pyproject.toml"
        entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
        language: system
        files: ^layer/(pyproject\.toml|uv\.lock)$
        pass_filenames: false
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
# Terraform
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
    - id: terraform_fmt
      exclude: ^(tests|src/tests)/
    - id: terraform_tflint
      exclude: ^(tests|src/tests)/
    - id: terraform_validate
      exclude: ^(tests|src/tests)/
    - id: terraform_docs
      exclude: ^(tests|src/tests)/
      args:
        - --args=--lockfile=false
    - id: terraform_trivy
      exclude: ^(tests|src/tests)/
      args:
        # Dockerfile.layer uses FROM scratch for asset extraction only, not a runnable container
        - --args=--severity HIGH,CRITICAL --skip-dirs .terraform,examples/complete/.terraform,tests --skip-files src/docker/Dockerfile.layer

Fix license copyright holder
  LICENSE
Due: none

[feature] add AllowedGroups/AllowedUsers requester restrictions to statements
  README.md
  slack_handler_lambda.tf
  src/access_control.py
  src/config.py
  src/group.py
  src/main.py
  src/sso.py
  src/statement.py
  src/tests/test_requester_restrictions.py
  src/uv.lock
Due: python-check-syntax, uv-export-src

Hide groups which are not eligible for users
  README.md
  src/access_control.py
  src/main.py
  src/slack_helpers.py
  src/tests/test_requester_restrictions.py
Due: python-check-syntax

[feature] add AllowedGroups/AllowedUsers requester restrictions to statements (#170)
  README.md
  slack_handler_lambda.tf
  src/access_control.py
  src/config.py
  src/group.py
  src/main.py
  src/slack_helpers.py
  src/sso.py
  src/statement.py
  src/tests/test_requester_restrictions.py
  src/uv.lock
Due: python-check-syntax, uv-export-src

fix: fail on sso group lookup
  README.md
  src/access_control.py
  src/group.py
  src/main.py
  src/tests/test_group.py
  src/tests/test_requester_restrictions.py
Due: python-check-syntax

fix: fmt
  README.md
  examples/complete/README.md
  src/tests/test_requester_restrictions.py
Due: python-check-syntax

fix: update the ecr image version variable
  vars.tf
Due: none

fix: use 4.3.1 tag
  vars.tf
Due: none

[feature] read access-requester config from SSM Parameter Store
  README.md
  examples/complete/README.md
  requester_ssm_parameters.tf
  slack_handler_lambda.tf
  src/config.py
  src/main.py
  src/pyproject.toml
  src/requirements.txt
  src/tests/test_config.py
  src/uv.lock
  vars.tf
Due: python-check-syntax, uv-export-src

final integration changes
  examples/complete/main.tf
Due: none

Move the CLI into cmd/elevate/ alongside its server-side integration
  .gitignore
  README.md
  cmd/elevate/README.md
  cmd/elevate/config.go
  cmd/elevate/go.mod
  cmd/elevate/go.sum
  cmd/elevate/main.go
  cmd/elevate/request.go
Due: none

Pre-release polish: Go 1.27, --help, env-var config, clearer post-submit message, GoReleaser/Homebrew pipeline, docs
  .github/workflows/cli-ci.yml
  .github/workflows/cli-release.yml
  cmd/elevate/.goreleaser.yaml
  cmd/elevate/README.md
  cmd/elevate/config.go
  cmd/elevate/go.mod
  cmd/elevate/main.go
  cmd/elevate/request.go
  install.sh
Due: none

Pre-PR-review polish: fix --help alignment, real account ID in examples
  cmd/elevate/main.go
Due: none

feat: add CLI access request path alongside existing Slack flow
  locals.tf
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/tests/conftest.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

Set payload_format_version=2.0 on the CLI route's integration
  slack_handler_lambda.tf
Due: none

Add requester_api_endpoint_url_cli output, fix base.yml lint/docs drift
  README.md
  examples/complete/README.md
  outputs.tf
  src/cli_auth.py
Due: python-check-syntax

Add workflow_dispatch trigger to base.yml
  .github/workflows/base.yml
Due: none

Document Windows install limitation and flesh out flag reference in CLI README
  cmd/elevate/README.md
Due: none

Rename CLI from elevate to elevator
  .github/workflows/cli-ci.yml
  .gitignore
  README.md
  cmd/elevate/README.md
  cmd/elevator/.goreleaser.yaml
  cmd/elevator/README.md
  cmd/elevator/config.go
  cmd/elevator/go.mod
  cmd/elevator/go.sum
  cmd/elevator/main.go
  outputs.tf
Due: none

Namespace CLI release tags, add request timeout and safe retry
  .github/workflows/cli-release.yml
  cmd/elevator/request.go
  install.sh
Due: none

Enforce required CLI fields and duration cap server-side
  src/main.py
Due: python-check-syntax

Explain why the example overrides use_pre_created_image
  examples/complete/main.tf
Due: none

Reject a slash in install.sh's version string outright
  install.sh
Due: none

Verify CLI caller's role by its real IAM path, not just its name
  slack_handler_lambda.tf
  src/cli_auth.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
Due: python-check-syntax

Distinguish CLI releases from module releases in install.sh's "latest"
  install.sh
Due: none

Harden the rest of the CLI identity-verification path
  slack_handler_lambda.tf
  src/cli_auth.py
  src/config.py
  src/main.py
  src/sso.py
  src/tests/test_cli_auth.py
  src/tests/test_config.py
  src/tests/test_main.py
  src/tests/test_sso.py
Due: python-check-syntax

Fix codespell false-positive in a truncated-username test
  src/tests/test_sso.py
Due: python-check-syntax

Gate the CLI access-request route behind an opt-in variable
  README.md
  examples/complete/main.tf
  locals.tf
  outputs.tf
  slack_handler_lambda.tf
  vars.tf
Due: none

Stop double-fetching the Identity Store user list per CLI request
  src/cli_auth.py
  src/sso.py
  src/tests/test_cli_auth.py
  src/tests/test_sso.py
Due: python-check-syntax

Fix the CLI release tag override actually publishing under the wrong tag
  .github/workflows/cli-release.yml
Due: none

Enforce the same duration policy the Slack dropdown does, not just the max
  src/main.py
  src/tests/test_main.py
Due: python-check-syntax

Stop the Go client from following redirects on a signed request
  cmd/elevator/request.go
  cmd/elevator/request_test.go
Due: none

Remove cli_expected_account_id as an operator-configurable variable
  README.md
  locals.tf
  src/cli_auth.py
  src/config.py
  src/tests/test_cli_auth.py
  vars.tf
Due: python-check-syntax

Harden the rest of the CLI identity/request-validation path
  src/cli_auth.py
  src/main.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
  vars.tf
Due: python-check-syntax

Stop reporting ok:false as a successful submission
  cmd/elevator/request.go
  cmd/elevator/request_test.go
Due: none

Add request_source/verified_arn provenance to the audit trail
  src/access_control.py
  src/main.py
  src/s3.py
  src/slack_helpers.py
  src/tests/test_slack_helpers.py
Due: python-check-syntax

Refuse to guess between SSO users whose emails collide case-insensitively
  src/sso.py
  src/tests/test_sso.py
Due: python-check-syntax

Distinguish transient IAM errors from real CLI identity rejections
  src/cli_auth.py
  src/main.py
  src/tests/test_cli_auth.py
  src/tests/test_main.py
Due: python-check-syntax

Harden the Go CLI client: transport, region, input validation, config writes
  cmd/elevator/README.md
  cmd/elevator/config.go
  cmd/elevator/config_test.go
  cmd/elevator/go.mod
  cmd/elevator/main.go
  cmd/elevator/request.go
  cmd/elevator/request_test.go
Due: none
