Repository fivexl/terraform-aws-sso-elevator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, uv-export-src, uv-export-layer

python-check-syntax:
  name: python syntax check
  description: Check Python syntax
  entry: python
  args:
  - -m
  - py_compile
  language: python
  require_serial: false

uv-export-src:
  name: uv export src requirements
  description: Export src/requirements.txt from pyproject.toml
  entry: bash -c 'cd src && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

uv-export-layer:
  name: uv export layer requirements
  description: Export layer/requirements.txt from pyproject.toml
  entry: bash -c 'cd layer && uv export --frozen --no-emit-workspace --no-dev --no-editable -o requirements.txt'
  language: system
  pass_filenames: false

chore: update docker dependencies
  src/docker/Dockerfile
  src/docker/Dockerfile.attribute_syncer
  src/docker/Dockerfile.requester
  src/docker/Dockerfile.revoker
Due: none

Update banner image in README
  README.md
Due: none

chore: update ECR image tag to 4.2.0 and bump urllib3 to 2.6.3
  layer/uv.lock
  vars.tf
Due: uv-export-layer

chore: standardize table formatting in README files
  README.md
  examples/complete/README.md
Due: none

chore: update terraform-docs version to v0.22.0 in CI workflow
  .github/workflows/base.yml
Due: none

Properly handle list of approvers even if user doesn't exists anymore in Slack (#139)
  src/group.py
Due: python-check-syntax

[feature] add tests for group access RequiresApproval branch
  src/tests/test_group.py
Due: python-check-syntax

[fix] remove defunct Cursor code review workflow
  .github/workflows/cursor-code-review.yml
Due: none

build(deps): update urllib3 to version 2.6.3 in requirements.txt
  docs/LAMBDAS.md
  docs/SLACK_TEAMS_PARITY.md
  docs/SLACK_VS_APP_LOGIC.md
Due: none

Add DynamoDB table for elevator requests and integrate with existing components
  README.md
  dynamodb.tf
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/access_control.py
  src/config.py
  src/entities/elevator_request.py
  src/events.py
  src/group.py
  src/main.py
  src/ports.py
  src/pyproject.toml
  src/request_store.py
  src/requirements.txt
  src/revoker.py
  src/s3.py
  src/schedule.py
  src/slack_helpers.py
  src/teams_adapter.py
  src/tests/conftest.py
  src/uv.lock
  vars.tf
Due: python-check-syntax, uv-export-src

Enhance chat platform integration and validation
  README.md
  attribute_syncer_lambda.tf
  chat_platform.tf
  locals.tf
  outputs.tf
  perm_revoker_lambda.tf
  slack_handler_lambda.tf
  src/config.py
  vars.tf
Due: python-check-syntax

[feature] task 8: add TeamsNotifier class to revoker.py
  .kiro/specs/teams-messaging-integration/tasks.md
  src/revoker.py
Due: python-check-syntax

[feature] task 9: update revoker.py with platform-aware event handling
  src/revoker.py
Due: python-check-syntax

[feature] task 10: add Teams bot and handler to main.py
  .kiro/specs/teams-messaging-integration/tasks.md
  src/main.py
Due: python-check-syntax

[feature] Add Microsoft Teams integration for SSO Elevator
  .kiro/specs/teams-messaging-integration/.config.kiro
  .kiro/specs/teams-messaging-integration/design.md
  .kiro/specs/teams-messaging-integration/requirements.md
  .kiro/specs/teams-messaging-integration/tasks.md
  src/config.py
  src/entities/__init__.py
  src/entities/teams.py
  src/events.py
  src/group.py
  src/main.py
  src/ports.py
  src/pyproject.toml
  src/request_store.py
  src/requirements.txt
  src/teams_adapter.py
  src/teams_cards.py
  src/teams_users.py
  src/tests/test_teams_messaging.py
  src/uv.lock
Due: python-check-syntax, uv-export-src

[feature] Enhance Microsoft Teams integration for SSO Elevator
  .kiro/specs/teams-messaging-integration/design.md
  .kiro/specs/teams-messaging-integration/requirements.md
  docs/SLACK_TEAMS_PARITY.md
  src/group.py
  src/main.py
  src/pyproject.toml
  src/requirements.txt
  src/revoker.py
  src/teams_activity_helpers.py
  src/teams_cards.py
  src/teams_deps.py
  src/teams_handlers.py
  src/teams_notifier.py
  src/teams_runtime.py
  src/teams_users.py
  src/tests/test_teams_messaging.py
  src/uv.lock
Due: python-check-syntax, uv-export-src

[refactor] Restructure access requester integration for Slack and Teams
  src/main.py
  src/requester_context.py
  src/revoker.py
  src/slack_app.py
  src/teams_activity_helpers.py
  src/teams_handlers.py
  src/teams_notifier.py
  src/teams_runtime.py
Due: python-check-syntax

[refactor] Restructure Teams and Slack integration for improved organization
  src/group.py
  src/main.py
  src/pyproject.toml
  src/requester/__init__.py
  src/requester/common/__init__.py
  src/requester/common/api_gateway.py
  src/requester/common/context.py
  src/requester/slack/__init__.py
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
  src/requester/teams/__init__.py
  src/requester/teams/teams_activity_helpers.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_deps.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/requester/teams/teams_runtime.py
  src/requester/teams/teams_users.py
  src/revoker.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax, uv-export-src

[refactor] Improve error handling and payload validation in Slack button click processing
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
Due: python-check-syntax

[refactor] Update Slack and Teams integration for improved user lookup and error handling
  docs/SLACK_TEAMS_PARITY.md
  src/requester/teams/teams_deps.py
  src/requester/teams/teams_users.py
  src/sso.py
Due: python-check-syntax

[feature] Implement deferred posting for Teams approval cards
  README.md
  docs/LAMBDAS.md
  docs/SLACK_TEAMS_PARITY.md
  src/config.py
  src/main.py
  src/requester/teams/__init__.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_bot_framework_path_encoding.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/requester/teams/teams_runtime.py
  src/tests/test_teams_messaging.py
  vars.tf
Due: python-check-syntax

[feature] Enhance Teams integration with improved message handling and card updates
  src/group.py
  src/pyproject.toml
  src/requester/teams/teams_activity_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_bot_framework_path_encoding.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax, uv-export-src

[feature] Enhance Teams approval process with launcher activity ID handling
  src/requester/teams/teams_activity_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[feature] Enhance Teams integration with adaptive card parsing and presentation ID handling
  src/request_store.py
  src/requester/teams/teams_card_action_parse.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_runtime.py
  src/requester/teams/teams_threading.py
  src/revoker.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[feature] Enhance Teams integration with requester display name and message formatting
  src/entities/elevator_request.py
  src/group.py
  src/request_store.py
  src/requester/slack/slack_app.py
  src/requester/teams/teams_activity_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_card_action_parse.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/revoker.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[feature] Enhance Teams integration with service URL handling and approver notifications
  src/group.py
  src/request_store.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_approver_ping.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/revoker.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[feature] Enhance access control logic with email variant matching and requester email handling
  src/access_control.py
  src/entities/elevator_request.py
  src/group.py
  src/request_store.py
  src/requester/slack/slack_app.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_handlers.py
  src/sso.py
  src/tests/test_access_control.py
Due: python-check-syntax

[feature] Enhance Teams integration with improved notification delivery and user resolution
  docs/SLACK_TEAMS_PARITY.md
  src/group.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_approver_ping.py
  src/requester/teams/teams_notifier.py
  src/requester/teams/teams_users.py
  src/revoker.py
  src/schedule.py
  src/sso.py
  src/tests/test_access_control.py
  src/tests/test_teams_approver_roster.py
  src/tests/test_teams_thread_notifications.py
Due: python-check-syntax

[feature] Improve Teams threading and proactive reply handling
  docs/SLACK_TEAMS_PARITY.md
  src/requester/teams/teams_approver_ping.py
  src/requester/teams/teams_notifier.py
  src/requester/teams/teams_threading.py
  src/revoker.py
  src/tests/test_teams_thread_notifications.py
Due: python-check-syntax

[feature] Enhance Teams card updates with decision actor information
  src/group.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[feature] Enhance expiry handling and Teams notification updates
  src/revoker.py
Due: python-check-syntax

[feature] Expand chat platform support and enhance documentation
  README.md
  docs/SLACK_TEAMS_PARITY.md
  docs/docs.md
  src/requester/teams/teams_approver_ping.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/requester/teams/teams_users.py
  src/revoker.py
  src/tests/test_teams_messaging.py
  src/tests/test_teams_thread_notifications.py
Due: python-check-syntax

[refactor] Migrate from Lambda URL to API Gateway for requester access
  README.md
  docs/LAMBDAS.md
  examples/complete/README.md
  examples/complete/outputs.tf
  outputs.tf
  slack_handler_lambda.tf
  src/requester/common/api_gateway.py
  src/requester/teams/teams_runtime.py
  vars.tf
Due: python-check-syntax

[fix] Update KMS key variable name in documentation and improve logging in Teams integration
  docs/CACHE_IMPLEMENTATION.md
  src/requester/teams/teams_runtime.py
Due: python-check-syntax

[cleanup] Remove outdated documentation files for Slack and Teams integration
  docs/LAMBDAS.md
  docs/SLACK_TEAMS_PARITY.md
  docs/SLACK_VS_APP_LOGIC.md
Due: none

[update] Revise Microsoft Teams command names in documentation and code
  .kiro/specs/teams-messaging-integration/design.md
  .kiro/specs/teams-messaging-integration/requirements.md
  .kiro/specs/teams-messaging-integration/tasks.md
  README.md
  docs/docs.md
  src/requester/teams/teams_handlers.py
Due: python-check-syntax

[update] Add elevator request ID to decision execution functions
  src/access_control.py
  src/events.py
  src/revoker.py
  src/schedule.py
  src/tests/test_revoker_slack_paths.py
Due: python-check-syntax

[feature] Enhance access request handling and introduce permission duration options
  src/access_control.py
  src/group.py
  src/permission_duration_options.py
  src/requester/slack/slack_app.py
  src/requester/slack/slack_helpers.py
  src/requester/teams/teams_approval_deferred.py
  src/requester/teams/teams_approver_ping.py
  src/requester/teams/teams_cards.py
  src/requester/teams/teams_handlers.py
  src/requester/teams/teams_notifier.py
  src/revoker.py
  src/tests/test_access_control.py
  src/tests/test_permission_duration_options.py
  src/tests/test_revoker_slack_paths.py
  src/tests/test_teams_messaging.py
Due: python-check-syntax

[refactor] Optimize AWS client initialization and enhance group access handling
  src/group.py
  src/permission_duration_options.py
  src/revoker.py
Due: python-check-syntax

[refactor] Improve AWS client initialization and enhance error logging
  src/access_control.py
  src/requester/slack/slack_helpers.py
  src/schedule.py
  src/sso.py
Due: python-check-syntax

Path conditions:
  python-check-syntax: any of: \.py$
  uv-export-src: any of: ^src/(pyproject\.toml|uv\.lock)$
  uv-export-layer: any of: ^layer/(pyproject\.toml|uv\.lock)$
